<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- resources don't apply -->
<sec:http pattern="/**/*.js" security="none"/>
<sec:http pattern="/**/*.css" security="none"/>
<sec:http pattern="/images/*" security="none"/>

<sec:http auto-config="true">
	<sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
	<sec:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
</sec:http>

<sec:authentication-manager>
	<sec:authentication-provider>
		<sec:user-service>
			<sec:user name="user1" password="user1" authorities="hasRole('ROLE_USER')"/>
			<sec:user name="admin1" password="admin1" authorities="hasRole('ROLE_ADMIN')"/>
		</sec:user-service>
	</sec:authentication-provider>
</sec:authentication-manager>

</beans:beans>

