/* main.css */
@CHARSET "UTF-8";

#startBtn{
	text-decoration: none;
	/*margin-top: 300px;*/
	width: 100px;
	height: 50px;
	color: #95212c;
	/*font-size : 4em;*/
	font-family: 'Ubuntu', sans-serif;
	background-color: transparent;
}
#startBtn:hover{
	color: #f5f5f5;
}

/* 모바일 */
@media (min-width: 300px) {
	#startBtn{
		margin-top: 200px;
		font-size: 3em;
	}
	#backImg{
		background-image: url("/resources/images/background450.png");
		height: 600px;
	}
}
@media (min-width: 480px) {
	#startBtn{
		margin-top: 250px;
		font-size: 4em;
	}
	#backImg{
		background-image: url("/resources/images/background768.png");
		height: 650px;
	}
}
/* 테블릿 */
@media (min-width: 992px) {
	#startBtn{
		margin-top: 300px;
		font-size: 4em;
	}
	#backImg{
		background-image: url("/resources/images/background992.png");
		height: 700px;
	}
}
/* 데스크탑 */
@media (min-width: 1200px) {
	#startBtn{
		margin-top: 300px;
		font-size: 4em;
	}
	#backImg{
		background-image: url("/resources/images/background1200.png");
		height: 720px;
	}
}