/* signup.css */
@CHARSET "UTF-8";
#signup{
	background-color: #f9f9f9;
}
/* 모바일 */
@media (max-width: 574px) {
	.form-control{
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
	.has-feedback .form-control {
    	padding-right: 0px;
	}
	.control-label{
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.row{
		height: 600px;
	}
	#myForm{
		margin-top: 50px;
	}
}
@media (max-width: 767px) {
	.form-control{
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
	.has-feedback .form-control {
    	padding-right: 0px;
	}
	.help-block{
		text-align: center;
	}
	.control-label{
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.row{
		height: 640px;
	}
	#myForm{
		margin-top: 80px;
	}
}
@media (min-width: 768px) {
	.row{
		height: 680px;
	}
	#myForm{
		margin-top: 110px;
	}
}
@media (min-width: 1200px) {
	.row{
		height: 720px;
	}
	#myForm{
		margin-top: 140px;
	}
}