@charset "UTF-8";
#header{
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
#logo{
	display: inline-block;
}
#nav{
	padding-top: 30px;
	float: right;
}
#nav ul li{
	float:left;
}
#nav ul li a{
	font-size: 20px;
	padding-left: 15px;
}
