@charset "UTF-8";
#signin-form{
   padding-top: 80px;
}
#login{
   margin-bottom: 40px;
   text-align: center;
}
#login span{
   font-size: 4rem;
   padding: 0px 10px 10px 10px;
   border-bottom: 1px solid #000;
   font-weight: 700;
}
#signin-sign{
   display:block;
   font-size:2rem;
   padding: 1rem;
}
.col-xs-4 form *{
	display: block;
	margin: 0 auto;
}
form[name=signin] div{
	text-align: center;
}
form[name=signin] div input{
	background: transparent;
	border: 0;
	font-size: 20px;
	font-weight: 550;
}
form[name=signin] button{
   display:block;
   background-color: #000;
   font-size:1.8rem;
   width:25.5rem;
   height:3.3rem;
   color: #FFF;
   border-color: #000;
   margin-top: 30px;
   margin-bottom: 10px;
}
form[name=signin] button:hover{
	font-weight: 600;
}
form input{
	width: 25.5rem;
}
input[name=id], input[name=pwd]{
	height: 3rem;
}
#signin-href a{
   display:block;
   text-align:center;
   border: 1px solid #000;
   font-size: 1.8rem;
   width: 25.5rem;
   height:3.3rem;
   margin-bottom: 10px;
   line-height: 3.3rem;
}
.col-xs-4 form div{
	margin: 0 auto;
}
#signin-href a:nth-child(3){
	background-color: #646464;
    color: #FFF !important;
    margin-top: 50px;
    border: 1px solid #646464;
}