<section id="notice-form" class="container">
	<table class="table table-hover" id="list">
        <thead>
            <tr>
                <th class="text-center">NO</th>
                <th class="text-center">SUBJECT</th>
                <th class="text-center">NAME</th>
                <th class="text-center">DATE</th>
            </tr>
        </thead>
        <tbody>
       		<tr class="text-center" ng-repeat="element in notiList">
       			<td ng-bind="element.idx"></td>
       			<td ng-bind="element.title"></td>
       			<td ng-bind="element.writer"></td>
       			<td ng-bind="element.regDt"></td>
       		</tr>
        </tbody>
    </table>
    <div id="page-display">
   		<a id="prev" href="" class="fa fa-chevron-left" ng-show="canPrev"></a>
   		<div ng-repeat="arr in pageNumArray">
	   		<a href={{arr.url}}>{{arr.pageNum}}</a>
   		</div>
   		<a id="next" href="" class="fa fa-chevron-right" ng-show="canNext"></a>
    </div>
</section>
<!-- <tr ng-repeat="tmp in customerList" repeat-done> -->
<!-- 			<td ng-bind="tmp.ID"></td> -->