<section id="notice-form" class="container">
	<table class="table table-hover" id="list">
        <thead>
            <tr>
                <th class="text-center">NO</th>
                <th class="text-center">SUBJECT</th>
                <th class="text-center">NAME</th>
                <th class="text-center">DATE</th>
            </tr>
        </thead>
        <tbody>
       		<tr class="text-center" ng-repeat="element in notiList">
       			<td ng-bind="element.idx"></td>
       			<td><a href="">{{element.title}}</a></td>
       			<td ng-bind="element.writer"></td>
       			<td ng-bind="element.regDt"></td>
       		</tr>
        </tbody>
    </table>
    <div id="page-display">
   		<a class="fa fa-chevron-left" ng-show="canPrev"></a>
   		<div ng-repeat="arr in pageNumArray">
	   		<a href={{arr.url}} ng-class="{'active' : arr.pageNum == activeNum}">{{arr.pageNum}}</a>
   		</div>
   		<a class="fa fa-chevron-right" ng-show="canNext"></a>
    </div>
</section>
