<section id="notice-form" class="container">
	<table class="table table-hover" id="list">
        <thead>
            <tr>
                <th class="text-center">NO</th>
                <th class="text-center">SUBJECT</th>
                <th class="text-center">NAME</th>
                <th class="text-center">DATE</th>
            </tr>
        </thead>
        <tbody>
       		<tr class="text-center">
       			<td>1</td>
       			<td>제목</td>
       			<td>박종태</td>
       			<td>2018.02.15 15:29</td>
       		</tr>
        </tbody>
    </table>
</section>
<!-- <tr ng-repeat="tmp in customerList" repeat-done> -->
<!-- 			<td ng-bind="tmp.ID"></td> -->