<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.develop.sfaw.persistence.NoticeMapper">

	<select id="getNotiList" parameterType="map" resultType="noticeAPI">
		SELECT
			idx,
			title,
			noti,
			writer,
			enabled,
			DATE_FORMAT(reg_dt, '%Y-%m-%d') as regDt,
			reg_tm as regTm,
			upd_dt as updDt,
			upd_tm as updTm
		FROM
			tb_notice
		ORDER BY
			idx DESC LIMIT #{pageNum}, #{viewRows}
	</select>

	<select id="totalRows" resultType="int">
		SELECT
			count(*) as totalRows
		FROM
			tb_notice
	</select>

</mapper>